* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  color: white;
  font-family: 'Futura', sans-serif;
  > a {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    transition: flex-grow ease-in-out 500ms;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: white;
    height: 100vh;
    padding-top: 40vh;
    gap: 30vh;
    min-width: 0px;
  }
  > a:hover {
    flex-grow: 3;
  }
  > a h1 {
    transition: opacity 500ms;
    font-size: 100px;
  }
  > a p {
    transition: opacity 500ms;
    font-size: 40px;
    opacity: 0;
  }
  > a:hover p {
    opacity: 1;
  }
  > a:hover h1 {
    opacity: 0;
  }
  > a span {
    opacity: 0;
    transition: opacity 500ms;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 20px;
  }
  > a:hover span {
    opacity: 1;
  }
  > a:nth-of-type(4) span {
    font-size: 100px;
  }

  > a:nth-of-type(1) {background-color: #03719b}
  > a:nth-of-type(2) {background-color: #096998}
  > a:nth-of-type(3) {background-color: #0060ab}
  > a:nth-of-type(4) {background-color: #004678}
  > a:nth-of-type(5) {background-color: #153a58}
  > a:nth-of-type(6) {background-color: #030320}
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

article > a {
  animation: slideInFromTop 0.5s ease-in forwards;
}

article > a:nth-child(1) {
  animation-delay: 0s;
}

article > a:nth-child(2) {
  animation-delay: 0.15s;
}

article > a:nth-child(3) {
  animation-delay: 0.3s;
}

article > a:nth-child(4) {
  animation-delay: 0.45s;
}

article > a:nth-child(5) {
  animation-delay: 0.6s;
}

article > a:nth-child(6) {
  animation-delay: 0.75s;
}

@media (max-width: 950px) {
  article {
    width: 100vw;
    flex-direction: column;
    > a {
      width: 100vw;
      padding-top: 0;
      height: 20vh;
      flex-grow: 1;
      align-items: center;
      justify-content:space-between;
      padding: 2rem;
      flex-direction: row;

    }
    > a h1 {
      font-size: 40px;
    }
    > a p {
      font-size: 20px;
      opacity: 1;
    }
    > a span {
      writing-mode: horizontal-tb;
    }
    > a:hover p{
      opacity: 0;
    }
  }
  @keyframes slideInFromTop {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
}